<h1>todos</h1>


<%= form_for @task do |f| %>
  <p>
  <%= f.text_field :description, placeholder: 'what needs to get done?' %>
  </p>
  <p>
  <%= f.submit %>
  </p>
<% end %>

<ul>
  <% @tasks.each do |task| %>
    <li>
    <% if task.completed == false %>
      <%= link_to 'O', task_path(task), method: 'patch' %>
    <% else %>
      <%= link_to 'Ø', task_path(task), method: 'patch' %>
    <% end %>
      <%= task.description %>
      <%= link_to 'X', task_path(task), method:'delete' %>
    </li>
  <% end %>
</ul>

<%= link_to 'active', active_tasks_path %>
<%= link_to 'completed', completed_tasks_path %>
<%= link_to 'all', root_path %>